html,
body {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin: 0;
  min-height: 180px;
  padding: 0;
  width: 380px;
  color: #616161;
}

/*задаём настройки для заголовков первого уровня*/
h1 {
  font-family: 'Work Sans', sans-serif;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  color: #616161;
}

a {
  text-align: center;
  opacity: 1;
  width: 80px;
  margin: 0px 4px 10px 0px;

}

a:hover {
  opacity: 0.4;
  /*уровень непрозрачности при наведении курсора на элемент*/
}

a:link,
a:visited {
  color: #616161;
  outline: 0;
  text-decoration: none;
}

/*задаём ширину картинки*/
img {
  width: 30px;
  /*ширина изображений*/
}

.icon {
  width: 40px;
}

.modal-header {
  align-items: center;
  /*выравнивание элементов по центру*/
  margin: 0px 0px 15px 0px;
  /*свойства нижней разделительной линии*/
  height: 50px;
}

.modal-content {
  padding: 0 22px;
  /*отступы сверху и снизу, сверху и слева*/
}

.modal-icons {

  /*свойства верхней разделительной линии*/
  height: 50px;
  width: 100%;
}

.logo {
  padding: 16px;
  /*отступы со всех сторон*/
}

.logo-icon {
  vertical-align: text-bottom;
  /*выравнивание по нижней части текста*/
  margin-right: 12px;
  /*задётся отступ элементов от изображения*/
}

.version {
  color: #444;
  font-size: 18px;
}

.flex-container {
  display: flex;
  
  flex-wrap: wrap;
  justify-content: s;
  padding: 10px 22px;
}

.flex-row {
  display: flex;
}

